# Document Ingestion & Vector DB
pymupdf
langchain-text-splitters
faiss-cpu
numpy

# LLM & Embeddings
google-generativeai
sentence-transformers
langchain-huggingface

# Core
python-dotenv
pydantic>=2.0

# Streamlit Frontend
streamlit
