# Core Backend
fastapi
uvicorn
python-multipart
python-dotenv
pydantic>=2.0

# Document Ingestion & Vector DB
pymupdf
langchain-text-splitters
faiss-cpu
numpy

# LLM & Embeddings
google-generativeai
sentence-transformers
langchain-huggingface

# Streamlit Frontend
streamlit
requests

# Utilities
logfire
